<div fxFlexFill fxLayout="column" fxLayoutGap="0.5rem">
  <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
  <app-gefco-template
    [templates]="allTemplates"
    [template]="currentTemplate"
    (create)="onTemplateCreate($event)"
    (update)="onTemplateUpdate($event)"
    (delete)="onTemplateDelete($event)"
    (select)="onTemplateSelect($event)"
    (restart)="onTemplateRestart()">
  </app-gefco-template>
  <app-gefco-filters
    [template]="currentTemplate"
    [metadata]="filtersMetadata"
    (search)="onFilterSearch($event)">
  </app-gefco-filters>
  <app-gefco-table
    [template]="currentTemplate"
    [rows]="rows"
    [listPermission]="listPermission"
    [writePermission]="writePermission"
    [readPermission]="readPermission"
    [showDeleteIcon]="false"
    (exportTable)="onExportTable($event)"
    (viewRow)="openDialog($event, true)"
    (editRow)="openDialog($event, false)"
    (deleteRow)="onDeleteRow($event)">
  </app-gefco-table>
</div>
