<div fxFlexFill fxLayout="column" fxLayoutGap="1rem" class="container">
  <div fxFlex="0 0 auto">
    <div class="login-img-container">
      <div class="login-img"></div>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="center">
    <form
      #form="ngForm"
      (ngSubmit)="login()"
      fxFlex="40"
      fxFlex.lt-sm="90"
      novalidate>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <div fxFlex="25%">
          <img src="assets/images/icon-login.svg">
        </div>
        <div fxFlex fxHide.xs>
          <h2 class="text-white text-right">{{ 'system-long-name' | translate }}</h2>
        </div>
        <!-- mostrar solo nombre corto si la resolucion es menor a 600 -->
        <div fxFlex fxHide.gt-xs>
          <h2 class="text-white text-right">{{ 'system-short-name' | translate }} ({{ambiente}})</h2>
        </div>


      </div>
      <div fxLayout="row wrap" fxLayoutGap="2rem">
        <div fxFlex>
          <mat-form-field fxFlexFill [floatLabel]="'always'">
            <mat-label class="text-white">{{ 'usuario' | translate }}</mat-label>
            <input
              matInput
              [(ngModel)]="user"
              name="user"
              class="login-input">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="2rem">
        <div fxFlex>
          <mat-form-field fxFlexFill [floatLabel]="'always'">
            <mat-label class="text-white">{{ 'contrasena' | translate }}</mat-label>
            <input
              matInput
              [(ngModel)]="password"
              type="password"
              name="password"
              class="login-input">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2rem" fxShow.gt-sm>
        <div fxFlex>
          <button
            fxFlexFill
            mat-raised-button
            [disabled]="form.invalid || signingIn"
            color="primary">
            {{ 'login' | translate }}
          </button>
        </div>
        <div fxFlex fxLayoutAlign="center center">
          <a [href]="passwordResetUrl">{{ 'contrasena.olvidate' | translate }}</a>
        </div>
      </div>
      <mat-error *ngIf="!form.invalid && errorMessage">
        {{ errorMessage }}
      </mat-error>
    </form>
  </div>
</div>
